In [1]:
# Twinings Dataset Example (Sales, Profit Margins, Demographics)
# -------------------------------------------------------------
# This notebook provides an illustrative dataset for Twinings tea sales,
# profit, and consumer trends for analysis in Python (Pandas).

import pandas as pd

# 1️⃣ Sales and Profit Data (Annual)
# ---------------------------------
sales_profit_data = pd.DataFrame([
    {
        "Year": 2023,
        "UK_Revenue_GBP_m": 106.6,   # Twinings UK revenue (FY2023) in £m
        "Export_Revenue_GBP_m": 86.5, # Export revenue (FY2023) in £m
        "Total_Revenue_GBP_m": 226.7, # Total revenue (approx)
        "PreTax_Profit_GBP_m": 95.0   # Pre-tax profit (approx)
    },
    {
        "Year": 2024,
        "UK_Revenue_GBP_m": 114.2,
        "Export_Revenue_GBP_m": 88.8,
        "Total_Revenue_GBP_m": 234.3,
        "PreTax_Profit_GBP_m": 99.1
    }
])

sales_profit_data["Profit_Margin_%"] = (
    sales_profit_data["PreTax_Profit_GBP_m"] /
    sales_profit_data["Total_Revenue_GBP_m"] * 100
)

sales_profit_data

,Year,UK_Revenue_GBP_m,Export_Revenue_GBP_m,Total_Revenue_GBP_m,PreTax_Profit_GBP_m,Profit_Margin_%
0,2023,106.6,86.5,226.7,95.0,41.905602
1,2024,114.2,88.8,234.3,99.1,42.296201

In [2]:
# 2️⃣ Market Context & Estimated Global Revenue
# --------------------------------------------
# Note: Twinings revenue values here are estimated based on publicly sourced
# company financial summaries (e.g. revenue £m converted to USD for analysis).
# Source: Estimated annual revenue around $509.2M. :contentReference[oaicite:0]{index=0}

market_estimates = pd.DataFrame([
    {
        "Measure": "Estimated_Annual_Revenue_USD_m",
        "Value": 509.2
    },
    {
        "Measure": "Employees",
        "Value": 1347
    }
])

market_estimates

                          Measure   Value
0  Estimated_Annual_Revenue_USD_m   509.2
1                       Employees  1347.0

In [3]:
# 3️⃣ Consumer Demographics / Market Insights (UK Context)
# -------------------------------------------------------
# NOTE: These are approximate industry patterns that relate to tea consumption
# and Twinings market positioning (not individual customer data).

demographics_data = pd.DataFrame([
    {
        "Demographic_Group": "Under_35_Consumers",
        "Twinings_Market_Strength": "Top brand for under-35s in key urban markets",
        "Trend": "Growing sales with younger consumers"
    },
    {
        "Demographic_Group": "Tea_Consumers_UK",
        "Twinings_Market_Strength": "Significant premium tea presence (specialty segments)",
        "Trend": "Stable preference for quality/premium teas"
    },
    {
        "Demographic_Group": "Global_Audience",
        "Twinings_Market_Strength": "Operations in ~115+ countries",
        "Trend": "Broad global reach"
    }
])

demographics_data

,Demographic_Group,Twinings_Market_Strength,Trend
0,Under_35_Consumers,Top brand for under-35s in key urban markets,Growing sales with younger consumers
1,Tea_Consumers_UK,Significant premium tea presence (specialty se...,Stable preference for quality/premium teas
2,Global_Audience,Operations in ~115+ countries,Broad global reach